<div id="jornal" class="jornal">
    <div class="jornal-header">
        <div class="line"><div class="line-dotted"></div></div>
        <h1 class="jornal-title">The New Vegas Time's</h1>
        <div class="line-dotted"></div>
        <p class="jornal-subtitle">O Jonal que conta sobre todos os grandes acontecimentos do Pais e do Mundo</p>
    </div>    
    <div class="jornal-article">
        <div class="jornal-article-collum">
            <h2 class="jornal-article-title">O CURIOSO CASO DE RIVERT CITY</h2>
            <div class="jornal-article-img-container">
                <img src="assets/img/notice-image.png">                      
            </div>
            <p>
                RivertCity, 1970,  dia 31 de Julho. É o que diz o calendário, mas parece que vivemos em outro mundo depois da queda do meteorito há três semanas. Meu nome é Alex Roff e sou correspondente local para o jornal "New Vegas Times". Desde o dia em que o meteorito caiu, temos visto uma série de eventos estranhos e perturbadores na cidade.
            </p>
            <p>
                O mais assustador de tudo é que as mutações genéticas estão ocorrendo em seres vivos na região. Plantas e animais estão crescendo em tamanhos incomuns e adquirindo características estranhas.
            </p>
            <p>
                A área afetada pelo meteorito tem aumentado a cada dia, e os cientistas ainda não conseguiram determinar a extensão exata do dano causado. O governo está trabalhando incansavelmente para encontrar uma solução para o problema, mas até agora não houve progresso. 
            </p>
            <p>
                De alguma forma, parece que o meteorito trouxe algum tipo de radiação que reage a materiais vivos. Até agora, tivemos informações sobre alguns casos da área que está sendo afetada por essa energia, iremos trazer 3 deles que tiveram a confirmação da pólo científico de Megaton, cidade essa que se encontra na liderança das pesquisas para contornar essa situação.
            </p> 
        </div>
        <div class="jornal-article-collum">   
            <p>
                O primeiro dos casos relatados apresenta cervos com vegetação crescendo em suas galhadas e corpos, desde a queda do meteorito, moradores que estavam deixando a cidade, afirmam ter visto os animais enquanto viajavam pela estrada, e foram imediatamente chocados pelo que viram.br
            </p>
            <p>
                Segundo os relatos, as galhadas dos cervos estavam cobertas por flores e vegetação, e o mesmo ocorria em seus corpos. No entanto, essas flores e vegetação não eram algo externo aos animais, mas sim parte deles mesmos, como se seus DNA tivessem sido mesclados com algum tipo de planta. 
            </p>
            <p>
                O segundo caso, é sobre fazendeiros da região que relatam que algumas de suas árvores começaram a ter comportamentos inesperados, em relação a produção de frutos e flores. 
            </p>
            <p>
                De acordo com os relatos, algumas árvores de macieiras começaram a produzir frutos muito rapidamente, apesar de terem sido colhidas poucas semanas antes. Além disso, parte delas começaram a produzir flores de pêssego,  e perder suas próprias folhas. 
            </p>           
            <p>
                O último caso informado, vem direto de Megaton. Algumas das pessoas que saíram das áreas mais próximas do meteorito, começaram a apresentar sintomas de infecção por fungos, com alguns desses tendo o aparecimento externo em seus corpos, onde estavam de modo literal, crescendo através de suas peles. 
            </p>                  
            <p>
                Essas pessoas foram imediatamente colocadas em quarentena na cidade onde foram recebidas por equipes de saúde para serem tratadas. Com amostras de sangue dessas pessoas coletadas, foram capazes de estudar parte da anomalia, e descobriram que o DNA dos fungos e dos humanos compartilhavam a mesma estrutura, como se fossem uma coisa. O mais incrível e assustador, é que essas pessoas começaram a apresentar comportamentos similares a uma “mente de colmeia”, tendo ações muito parecidas mesmo estando separados.
            </p>
            <p>
                Isso tem sido uma fonte de preocupação, já pode ser um meio para confirmar que a área  onde o meteorito está afetando, de alguma forma, causa a anomalia genetica nos seres vivos locais, possivelmente ocasionando em algum tipo de fusão em suas moléculas orgânicas.
            </p>
            <p>
                Enquanto isso, as autoridades de River City tentam evacuar a população,tentando reduzir ao máximo o número de perdas e esperando ansiosamente por respostas e soluções para esse caso. É importante continuar acompanhando o desenrolar dessa história e torcer para que se encontre uma maneira de lidar com essas anormalidades de maneira eficiente e segura para todos.
            </p>
        </div>
    </div>
    <div class="line"><div class="line-dotted"></div></div>
    <p (click)="return()" class="terminal-return">Return to Terminal</p>
</div>
